<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header class="container py-4" th:fragment="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/about}">Cedenti</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}"> 홈 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/common/book}"> 씨터 예약하기 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/board/browse}"> 개시판 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/board/compose}"> 글쓰기 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/contact}"> 고객샌터 </a>
          </li>
        </ul>

        <!-- When NO user is logged in! -->
        <div class="text-end">
          <a th:href="@{/security/login}">
            <button type="button" class="btn btn-outline-danger me-2"> 로그인 </button>
            </a>
            <a th:href="@{/security/signup}">
              <button type="button" class="btn btn-outline-warning me-2"> 회원가입 </button>
            </a>
        </div>

        <!-- WHen user is logged in! -->
        <div class="dropdown">
          <a href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
              class="rounded-circle me-2">
            <strong>ADMIN</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser">
            <li>
              <a class="dropdown-item" th:href="@{/user/profile}"> 마이 펫 </a>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/user/dashboard}"> 대쉬보드 </a>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/user/settings}"> 설정 </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="#">로그아웃</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>