<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Login</title>

<!-- Bootstrap CSS -->
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css}"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous">

<link th:href="@{style.css}" rel="stylesheet">

<!-- Option 1: Bootstrap Bundle with Popper -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js}"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous">
	
</script>
<script th:src="@{offcanvas.js}"></script>

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>

<body class="text-center">

  <main class="form-signin">
    <form class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4">

          <h1 class="h3 mb-5 fw-normal">로그인 해주세요.</h1>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput"
              placeholder="name@example.com">
            <label for="floatingInput">이메일</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">비밀번호</label>
          </div>

          <div class="checkbox my-5">
            <label>
              <input type="checkbox" value="remember-me">
              내 이메일 기억하기!
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

        </div>
      </div>
    </form>
  </main>
</body>
</html>