<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>글쓰기</title>

<!-- Bootstrap CSS -->
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css}"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous">

<!-- Option 1: Bootstrap Bundle with Popper -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js}"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous">
	
</script>
</head>

<body>
  <div th:replace="common/header :: header"></div>

  <div class="container">
    <h1 class="my-4">글쓰기</h1>

    <form action="@{/board/register}" th:method="post">
      <div class="form-group mb-4">
        <label> 제목 </label>
        <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요." />
      </div>

      <div class="form-group mb-4">
        <label> 내용 </label>
        <textarea class="form-control" rows="5" name="body"></textarea>
      </div>

      <div class="form-group mb-4">
        <label> 작성자 </label>
        <input type="text" class="form-control" name="writerUsername" placeholder="작성자 이름을 입력해주세요." />
      </div>

      <button type="submit" class="btn btn-primary mt-4">작성 완료</button>
      
    </form>
  </div>
  
  <div th:replace="common/footer :: footer"></div>
</body>
</html>